.spot-img {
  width: 100px;
  height: 100px;
  margin: 0 1rem 0 0
}

.reserve-box {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
